body{
    font-family: 'Poppins', sans-serif;
}
header{
    padding-top: 50px;
    text-align: center;
    min-height: 300px;
}
header img{
    max-width: 60%;
}

main{
    font-size: 30px;
    min-height: 300px;
    text-align: center;
}

footer{
    text-align: center;
}